<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py-kemon</title>
</head>

<body>

    <h1 class="text-center">Here are the Users</h1>
    <div class="col-4">
        <form id="searchForm" onsubmit="search(event)">
            <h2>Search</h2>
            <input type="text" name="query">
            <input type="submit" value="Search">
        </form>
    </div>









    <script src="{{  url_for('static', filename='js/script.js')}}" async></script>
</body>

</html>